@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local(''), url('./assets/fonts/roboto-v30-latin-100.woff2') format('woff2'),
    url('./assets/fonts/roboto-v30-latin-100.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local(''), url('./assets/fonts/roboto-v30-latin-100italic.woff2') format('woff2'),
    url('./assets/fonts/roboto-v30-latin-100italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('./assets/fonts/roboto-v30-latin-300.woff2') format('woff2'),
    url('./assets/fonts/roboto-v30-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local(''), url('./assets/fonts/roboto-v30-latin-300italic.woff2') format('woff2'),
    url('./assets/fonts/roboto-v30-latin-300italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('./assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    url('./assets/fonts/roboto-v30-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local(''), url('./assets/fonts/roboto-v30-latin-italic.woff2') format('woff2'),
    url('./assets/fonts/roboto-v30-latin-italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('./assets/fonts/roboto-v30-latin-500.woff2') format('woff2'),
    url('./assets/fonts/roboto-v30-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local(''), url('./assets/fonts/roboto-v30-latin-500italic.woff2') format('woff2'),
    url('./assets/fonts/roboto-v30-latin-500italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('./assets/fonts/roboto-v30-latin-700.woff2') format('woff2'),
    url('./assets/fonts/roboto-v30-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local(''), url('./assets/fonts/roboto-v30-latin-700italic.woff2') format('woff2'),
    url('./assets/fonts/roboto-v30-latin-700italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''), url('./assets/fonts/roboto-v30-latin-900.woff2') format('woff2'),
    url('./assets/fonts/roboto-v30-latin-900.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local(''), url('./assets/fonts/roboto-v30-latin-900italic.woff2') format('woff2'),
    url('./assets/fonts/roboto-v30-latin-900italic.woff') format('woff');
}

html {
  height: 100%;
}

body,
#app {
  min-height: 100vh;
  @apply text-gray-700;
}

a {
  @apply text-cyan-700;
}

.Vue-Toastification__toast {
  @apply shadow-none border rounded p-2.5 min-h-0;
}

.Vue-Toastification__toast-body {
  @apply text-sm;
}

.Vue-Toastification__toast--error {
  @apply bg-red-50 text-red-700 border-red-100;
}

.Vue-Toastification__toast--success {
  @apply bg-emerald-50 text-emerald-700 border-emerald-100;
}

.Vue-Toastification__toast-body {
  @apply flex items-center;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

/* sm: 640px */
@media (min-width: 640px) {
  .sm\:table-cell {
    display: table-cell;
  }
}

/* md: 768px */
@media (min-width: 768px) {
  .md\:table-cell {
    display: table-cell;
  }
}

/* lg: 1024px */
@media (min-width: 1024px) {
  .lg\:table-cell {
    display: table-cell;
  }
}

/* xl: 1280px */
@media (min-width: 1280px) {
  .xl\:table-cell {
    display: table-cell;
  }
}
